.styled-textarea-container {
    display: flex;
    flex-direction: column; /* Ändern Sie dies, wenn nötig */
    border-radius: 10px;
    border: 1px solid #D1D1D1;
    background-color: white;
    padding: 5px;
    transition: border 0.3s;

    .input-icon {
      margin-right: 10px;
      width: 20px;
      height: 20px;
    }

    &.focus {
      border: 1px solid #0195d581;
    }

    textarea {
      border: none;
      outline: none;
      width: 100%;
      padding: 8px;
      font-size: 1em;
      resize: vertical; /* Ermöglicht das vertikale Vergrößern/Verkleinern */
    }
}
