.field {
    width: 100vw;
    height: 100vh;
    max-width: 100%;
    background-image: url('/assets/img/board.webp');
    display: flex;
    justify-content: center;
    align-items: center;
}

.cardStack {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
        position: absolute;
        width: 120px;
    }
}

.top-card {
    cursor: pointer;
    transition: all 125ms ease-in-out;

    &:hover {
        transform: scale(1.1) translateY(-10px);
    }
}

.played-card {
    right: 25px;
    transform: scale(1.3) translateX(-180px) translateY(-200px) rotate(10deg);
}

.pick-card {
    transition: all 125ms ease-in-out;
    animation: pick-card-animation 1s ease-in-out;
    transform: scale(1.3) translateX(-180px) translateY(-200px) rotate(10deg);
}

.player-position {
    position: absolute;
    top: 200px;
    right: 0;
}

.add-player-btn {
    position: absolute;
    right: 16px;
    bottom: 16px;
}

.active{
    border: 4px solid black;
}

.option-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 16px;
    margin-top: 16px;
    margin-bottom: 16px;
}

.avatar{
    max-width: 65px;
    border-radius: 100%;
    height: fit-content;
    cursor: pointer;
    transition: all 125ms ease-in-out;
    box-sizing: border-box;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.4);
    &:hover {
        transform: scale(1.1);
    }
}

.color {
    width: 65px;
    border-radius: 16px;
    height: 65px;
    cursor: pointer;
    transition: all 125ms ease-in-out;
    box-sizing: border-box;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.4);
    &:hover {
        transform: scale(1.1);
    }
}

.task-card {
    position: absolute;
    bottom: 16px;
    left: 16px;
    right: 86px;
}

.error {
    color: red;
    font-weight: bold;
}

@keyframes pick-card-animation {
    0% {
        transform: scale(1);
    }

    40% {
        transform: scale(1.7);
    }

    50% {
        transform: scale(1.7);
    }

    100% {
        transform: scale(1.3) translateX(-180px) translateY(-200px) rotate(10deg);
    }
}

@media (max-width: 800px) {
    .played-card {
        transform: scale(1.3) translateY(-200px) rotate(10deg);
    }
    
    .pick-card {
        transition: all 125ms ease-in-out;
        animation: pick-card-animation-small 1s ease-in-out;
        transform: scale(1.3) translateY(-200px) rotate(10deg);
    }
    @keyframes pick-card-animation-small {
        0% {
            transform: scale(1);
        }
    
        40% {
            transform: scale(1.7);
        }
    
        50% {
            transform: scale(1.7);
        }
    
        100% {
            transform: scale(1.3) translateY(-200px) rotate(10deg);
        }
    }
}